<section class="sec-borrow vantage-request" ng-controller="ClientOverviewController" ng-if="loanDuration > 0">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="request-header text-center" style="text-align: center">
					<h1>Borrow for up to 3 months</h1>
					<p>Repay monthly on your pay day or earlier if it suits you</p>
					<p>Rate <strong>0.8%</strong> per day</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="request-body">
					<div class="row">
						<div class="col-md-6">
							<!-- Vantage request left body -->
							<div ng-include src="'/myjar/angular-app/client/overview/sections/vantage/request/borrow_body.html'"></div>
						</div>
						<div class="col-md-6">
							<div class="schedule-body">
								<div class="schedule-container">
									<h2>Payment schedule</h2>
									<!-- Vantage request right body instalments -->
									<div class="instalment-container" ng-include src="'/myjar/angular-app/client/overview/sections/vantage/request/instalment_container.html'"></div>

									<div class="borrow-container text-center" style="text-align: center;">
										<p>Borrow <strong>[[loanRequestInfo.principal | currency:"£"]]</strong> Interest <strong>[[loanRequestInfo.interest | currency:"£"]]</strong></p>
										<p><strong>Total to repay: [[loanRequestInfo.total() | currency:"£"]]</strong></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>